body{
    text-align: center;
    justify-content: center;
    background-color: cornflowerblue;
    font-size: 20px;
    flex: 10px
}
.main{
    text-align: center;
}
.row{
    /* display: flex; */
    justify-content: safe;
}
/* .cake1{
    float: left;
}
.cake2{
    float: right;
} */
