body{
    text-align: center;
    justify-content: center;
    background-color: cornflowerblue;
    /* font-size: 20px; */
    flex: 10px
}
.main{
    text-align: center;
}
.row{
    justify-content: safe;
}
nav li {
    text-align: center;
    font-size: 20px;
    display: inline;
    background: aliceblue;
    list-style-type: none;
}
a:hover {
    color: blue;
}
